:root {
    --bkg-text-color: rgba(245, 245, 245, 0.734);
    --form-content-left-padding: 48px;
}

* {
    font-family: 'Urbanist', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
}
.grid-content {
    height: 100%;
    display: grid;
    grid-template-columns: 350px minmax(300px, 1fr);
}

@media screen and (max-width: 600px) {
    .grid-content {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .banner {
        height: 250px !important;
        justify-content: start !important;
    }

    .logo {
        margin-top: 0px !important;
    }
}

.banner {
    background-image: url(phil-lev-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50%;
    background-color: var(--bkg-text-color);
    width: 100%;
    padding: 10px 0px;
    gap: 1rem;
    font-size: 3rem;
}

.img-credit {
    margin-top: auto;
    margin-bottom: 1rem;
    background-color: var(--bkg-text-color);
    text-align: center;
}

a {
    color: black;
}

.sign-up-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    background-color: rgb(242, 242, 242);

}
.form-container > * {
    margin-bottom: 2rem;
}

.form-content {
    background-color: white;
    padding: 1rem 2rem 1rem var(--form-content-left-padding);
    box-shadow: 0px 25px 26px -23px rgba(0,0,0,0.2);
}

.intro {
    font-weight: 600;
    font-size: 1.3rem;
    padding-left: var(--form-content-left-padding);
    padding-right: 64px;
}

#form-intro {
    font-weight: 600;
    font-size: 1.2rem;
    color: rgb(43, 43, 61);
    margin-top: 0px;
    margin-bottom: 10px;
}
fieldset {
    display: flex;
    flex-wrap: wrap;
    border: 0px;
    padding: 0px;
    margin-bottom: 14px;
}

fieldset > div {
    margin-right: 4rem;
}
input {
    width: 200px;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
}

input:focus {
    border: rgb(47, 47, 247);
    box-shadow: 0px 0px 34px -5px rgba(117,116,117,0.67);
}

label {
    font-size: 0.75rem;
    color: #2e2f30;
    font-weight: 600;
    
}

.submit-form {
    padding-left: var(--form-content-left-padding);
}

#submit {
    background-color: #596D48;
    border: 0px;
    border-radius: 4px;
    padding: 0.8rem 2rem;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    box-shadow: 0px 0px 32px -6px rgba(117,116,117,0.67);
    margin-bottom: 1rem;
}